.background {background-color: hsl(44, 73%, 59%);}
.bild {width: 400px;}
.Påvelund {width: 750px;}
.Semester {width: 700px;}
.border {border-color: burlywood;
border-style: groove;
border-width: 12px;}
